.users{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-popup{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.popup-input{
    display: flex;
    justify-content: center;
    align-items: center;
}